body {
  width: 100%;
  height: 100%;
  font-family: 'Exo 2', 'sans-serif';
}
.bg-img {
  background-position: fixed;
  width: 100%;
  height: 100%;
  background: url('./lg-calculator.jpeg') center center no-repeat;
  background-size: cover;
}
.bg-img:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    rgba(44, 207, 44, 0.8),
    rgba(235, 221, 25, 0.8)
  );
  opacity: 0.6;
}
#sign-up {
  background: rgba(235, 221, 25, 1);
}
.link-text {
  color: rgba(17, 90, 86, 1);
}
.card {
  background: rgba(17, 90, 86, 1);
  color: white;
}
#log-in {
  margin-top: 4em;
}
.card-body {
  background: rgba(17, 90, 86, 1);
  color: white;
}
#logo {
  font-family: 'Audiowide', 'cursive';
  color: black;
}
.miniLogo {
  margin-bottom: 10px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .bg-img {
    background-image: none !important;
  }
  .bg-img:before {
    display: block;
  }
  .container {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      rgba(44, 207, 44, 0.8),
      rgba(235, 221, 25, 0.8)
    );
    margin-bottom: 140px;
    font-size: 0.8em;
  }
  h4 {
    font-size: 1.25em;
  }
  h5 {
    font-size: 1.25em;
  }
  #log-in {
    margin-top: 1em;
  }
}
